<link href="~/WebGrid.css" rel="stylesheet" />
<script src="~/scripts/jquery-2.2.1.min.js"></script>
<script src="~/scripts/paging.js"></script>
@{
    Page.Title = "Export To Excel";
}
<h1>Export to Excel<span id="ExcelDiv"><img src="/excel.png" id="excel" alt="Export to Excel" title="Export to Excel" /></span></h1>
